[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=cutereader
Exec=/usr/bin/single-instance /opt/cutereader/bin/cutereader
Icon=/usr/share/icons/hicolor/80x80/apps/cutereader80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
